<div class="translator-content">
      <div id="translator-lang">
        <p>sprachauswahl</p>
      </div>

        <div>
          <textarea class="col-md-5 translator-textarea" rows="10">
            </textarea>
          <div class="col-md-2">
            <button type="image" src="../../assets/images/pfeil.jpg"class="btn btn-lg btn-primary btn-block" type="submit">übersetzen</button>
          </div>
          <textarea class="col-md-5 translator-textarea" rows="10">
            </textarea>
        </div>


    </div>
