  <div class="translator-lang">
        <div><input type="radio" name="lang"/>
          <label onclick="" class="toggle-btn">german</label>
        </div>
        <div><input type="radio" name="lang"/>
          <label onclick="" class="toggle-btn">english</label>
        </div>
    </div>

<div class="translator-content">
  <%= form_for(:sayings) do |f| %>
  <%= f.text_area :german, class: "col-md-5 translator-textarea" %>
<div class="col-md-2 translate-button">
  <%= f.submit "translate", class: "btn btn-lg btn-primary btn-block" %>
</div>
<%= f.text_area :english, class: "col-md-5 translator-textarea" %>
<% end %>
</div>
