@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
html{
  height: 100%;
}
body {
  height: 100%;
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

container{
  /*position: fixed;
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
  box-sizing: border-box;*/
  height: 100%;
}
/* header */

.translator-navbar{
  background-color: #334477;
  min-height: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

ul {
  float: right;
  list-style: none;
  li {
  float: left;
  margin-left: 15px;
  }
  }

/* home */

.translator-content{
  height: 200px;
}

#translator-lang {
  margin-top: 30px;
  /*background-color: blue;*/

}

.translator-textarea, .translator-login {
  height: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
      border-radius: 5px;
    border: 1px solid #aaa;
}

.translate-button{
  top: 40%;
  height: inherit;
}


/*footer*/

footer {
  background-color: red;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
    a {
      color: #555;
      &:hover {
      color: #222;
      }
    }
    small {
      float: left;
      margin: 10px;
    }
      ul {
        display: inline;
        float: right;
        list-style: none;
          li {
          float: left;
          margin-left: 15px;
          }
      }

}
