@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
html{
  height: 100%;
}
body {
  height: 100%;
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

container{
  /*position: fixed;
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
  box-sizing: border-box;*/
  height: 100%;
  position: relative;
}
/* header */

.translator-navbar{
  background-color: #334477;
  min-height: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

ul {
  float: right;
  list-style: none;
  li {
  float: left;
  margin-left: 15px;
  }
  }

/* home */

.translator-content{
  height: 200px;
}

// #translator-lang {
//   margin-top: 30px;
//   /*background-color: blue;*/
//
// }

.translator-textarea, .translator-login {
  height: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
      border-radius: 5px;
    border: 1px solid #aaa;
}

.translator-textarea{
  height: 100px;
}

.translate-button{
  top: 40%;
  height: inherit;
}


/*footer*/

footer {
  background-color: red;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
    a {
      color: #555;
      &:hover {
      color: #222;
      }
    }
    small {
      float: left;
      margin: 10px;
    }
      ul {
        display: inline;
        float: right;
        list-style: none;
          li {
          float: left;
          margin-left: 15px;
          }
      }

}

//sayings_index

.sayings_table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 20px;
}
tr{
}

td{
  margin: 200px;
  //width: 50%;
  margin-right: 50px;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even){
  background-color: #f1fdfe;
}




/* CSS only version */
.translator-lang{
    width:140px;
    height:30px;
    line-height:30px;
    margin: 10px 0 20px;
}
.translator-lang div {
    display:inline-block;
    position:relative;
    margin:10px 2px;
}

label {
    text-align:center;
}

.translator-lang div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
}

.translator-lang div:hover label {
    background:#f1fdfe;
    border-radius: 5px;
}

.translator-lang div input:checked + label {
    background:lightblue;
    border-radius: 5px;
}
